.headerContainer {
  background-color: whitesmoke;
}

.brandText {
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  font-size: 32px;
  font-family: "Merriweather", sans-serif;
  color: #333333;
  text-align: left;
  line-height: normal;
  margin: 70px;
}

.orderText {
  margin-left: 400px;
}

.contactListElement {
  padding: 5px;
  border-top: 1px solid lightgrey;
}

.contactListElement:hover {
  background-color: lightyellow;
  color: red;
}

.contactListView {
  display: flex;
}

.contactList {
  width: 25%;
  border-right: 1px solid lightgrey;
}