.headerContainer {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    gap: 50px;
    height: 70px;
    font-size: 20px;
    align-items: center;
    margin-right: auto;
    padding-top: 13px;
    border-bottom-color: black;
    border-bottom-width: 2px;
}

.brandText {
    background-color: rgba(255, 255, 255, 0);
    width: 300px;
    font-size: 32px;
    font-family: "Merriweather", sans-serif;
    color: #333333;
    text-align: left;
    line-height: normal;
    margin: 70px;
}

.titleText {
    padding-left: 70px;
    padding-top: 30px;
    font-size: 34px;
    font-family: "Arial Normaali", "Arial", sans-serif;
    font-weight: 600;
}

.changeOrderStatus {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 380px;
    width: 350px;
    height: 200px;
    margin-top: 100px;
    padding: 2px 2px 2px 2px;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.18);
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 20px;
    font-family: "Arial Normaali", "Arial", sans-serif;
    font-weight: 600;
    padding: 20px;
    gap: 10px;
}

.orderStatusText {
    padding-left: 70px;
    margin-top: 100px;
    font-size: 20px;
    font-family: "Arial Normaali", "Arial", sans-serif;
    font-weight: 600;
}

.currentOrderText {
    padding-left: 70px;
    margin-top: 50px;
    font-size: 20px;
    font-family: "Arial Normaali", "Arial", sans-serif;
    font-weight: 600;
}

.currentOrderContainer {
    display: flex;
    width: 850px;
    height: 100px;
    margin-top: 30px;
    margin-left: 70px;
    padding: 2px 2px 2px 2px;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.18);
    border-radius: 10px;
    box-sizing: border-box;
}

.currentOrderId {
    padding: 20px;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    color: blue;
}

.currentUserId {
    padding: 20px;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    color: blue;
}

.currentOrderStatus {
    padding: 20px;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    color: green;
}

.currentOrderProduct {
    padding: 20px;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
}

.currentProductId {
    padding: 20px;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    color: blue;
}

.currentProductName {
    padding: 20px;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
}

.historyDivText {
    padding-left: 70px;
    margin-top: 50px;
    font-size: 20px;
    font-family: "Arial Normaali", "Arial", sans-serif;
    font-weight: 600;
}

.bigOrderContainer {
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-bottom: 150px;
}

.orderContainer {
    display: flex;
    flex-direction: row;
    width: 850px;
    height: 130px;
    padding: 2px 2px 2px 2px;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.18);
    border-radius: 10px;
    box-sizing: border-box;
    position: absolute;
}

.orderHistoryText {
    padding-left: 70px;
    margin-top: 300px;
    font-size: 20px;
    font-family: "Arial Normaali", "Arial", sans-serif;
    font-weight: 600;
}

.restaurantName {
    margin-top: 15px;
    margin-left: 15px;
    font-size: 18px;
    font-family: "Arial Normaali", "Arial", sans-serif;
    font-weight: 600;
}

.orderDate {
    font-size: 15px;
    font-family: "Open Sans Bold", "Open Sans Regular", "Open Sans", sans-serif;
    font-weight: 700;
    color: #7f7f7f;
    text-align: left;
    line-height: normal;
    margin-top: -20px;
    margin-left: 350px;
}

.orderCost {
    font-size: 18px;
    font-family: "Arial Normaali", "Arial", sans-serif;
    font-weight: 600;
    margin-top: -20px;
    margin-left: 550px;
}

.statusText {
    padding: 20px;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
}

.productText {
    padding: 20px;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
}

.deliveryTime {
    margin-left: 10px;
    margin-top: 43px;
    font-size: 20px;
    font-weight: 200;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.buttonStyle {
    margin-left: 565px;
    margin-top: 50px;
    height: 63px;
    width: 165px;
    padding: 2px 2px 2px 2px;
    border-radius: 5px;
    background-color: #1e98d7;
    box-sizing: border-box;
    font-size: 17px;
    color: #ffffff;
    text-align: center;
    line-height: normal;
}

.orderHistoryContainer1 {
    margin-left: 460px;
    margin-top: -30px;
    width: 630px;
    height: 90px;
    padding: 2px 2px 2px 2px;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.18);
    border-radius: 10px;
    box-sizing: border-box;
    position: absolute;
}

.orderHistoryContainer2 {
    margin-left: 460px;
    margin-top: 100px;
    width: 630px;
    height: 90px;
    padding: 2px 2px 2px 2px;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.18);
    border-radius: 10px;
    box-sizing: border-box;
    position: absolute;
}

.buttonContainer {
    display: flex;
    margin-left: 457px;
    margin-top: 200px;
}

