.title {
    font-size: 36px;
    display: flex;
    justify-content: center;
    padding-top: 65px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.container1 {
    width: 310px;
    height: 168px;
    padding: 2px 2px 2px 2px;
    box-shadow: 1px 3px 6px 6px lightgrey;
    border-radius: 4px;
    box-sizing: border-box;
    position: absolute;
    left: 300px;
    top: 285px;
    text-align: center;
    line-height: 140px;
    font-size: 20px;
}

.container2 {
    width: 310px;
    height: 168px;
    padding: 2px 2px 2px 2px;
    box-shadow: 1px 3px 6px 6px lightgrey;
    border-radius: 4px;
    box-sizing: border-box;
    position: absolute;
    left: 795px;
    top: 285px;
    text-align: center;
    line-height: 140px;
    font-size: 20px;
}

.container3 {
    width: 310px;
    height: 168px;
    padding: 2px 2px 2px 2px;
    box-shadow: 1px 3px 6px 6px lightgrey;
    border-radius: 4px;
    box-sizing: border-box;
    position: absolute;
    right: 300px;
    top: 285px;
    text-align: center;
    line-height: 140px;
    font-size: 20px;
}
