.headerContainer {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    gap: 50px;
    height: 70px;
    font-size: 20px;
    align-items: center;
    margin-right: auto;
    padding-top: 13px;
    border-bottom-color: black;
    border-bottom-width: 2px;
}

.brandText {
    background-color: rgba(255, 255, 255, 0);
    font-size: 32px;
    font-family: "Merriweather", sans-serif;
    color: #333333;
    text-align: left;
    line-height: normal;
    margin: 70px;
}

.deliveryText {
    position: absolute;
    padding: 2px 2px 2px 2px;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.18);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 19px;
    color: white;
    top: 120px;
    left: 70px;
}

.hourText {
    position: absolute;
    padding: 2px 2px 2px 2px;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.18);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 19px;
    color: white;
    top: 120px;
    left: 500px;
}

.backButton {
    position: absolute;
    padding: 2px 2px 2px 2px;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.18);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 28px;
    color: white;
    top: 120px;
    right: 50px;
}

.restaurantTitle {
    position: absolute;
    top: 330px;
    left: 200px;
    color: white;
    font-size: 90px;
    font-weight: 700;
}

.restaurantMotto {
    position: absolute;
    top: 440px;
    left: 205px;
    color: white;
    font-size: 30px;
    font-weight: 600;
}

.deliveryCost {
    text-align: center;
    background-color: white;
    width: 130px;
    height: 27px;
    padding: 2px 2px 2px 2px;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.18);
    border-radius: 4px;
    box-sizing: border-box;
    position: absolute;
    top: 510px;
    left: 205px;
}

.minOrder {
    text-align: center;
    background-color: white;
    width: 135px;
    height: 27px;
    padding: 2px 2px 2px 2px;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.18);
    border-radius: 4px;
    box-sizing: border-box;
    position: absolute;
    top: 510px;
    left: 350px;
}

.subContainer {
    background-color: white;
    width: 850px;
    height: 140px;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.18);
    border-radius: 4px;
    position: absolute;
    left: 500px;
    top: 610px;
    text-align: left;
    padding: 46px;
    font-size: 30px;
    font-family: "Open Sans Bold", "Open Sans Regular", "Open Sans", sans-serif;
    text-align: left;
    line-height: normal;
}

.outText {
    box-sizing: border-box;
    font-family: "Open Sans Bold", "Open Sans Regular", "Open Sans", sans-serif;
    color: #333333;
    text-align: left;
    line-height: normal;
    position: absolute;
    left: 645px;
    top: 673px;
}

.foodCategory {
    position: absolute;
    top: 850px;
    left: 350px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-size: 25px;
    font-family: "Open Sans Bold", "Open Sans Regular", "Open Sans", sans-serif;
    font-weight: 700;
    color: #333333;
    text-align: left;
    line-height: normal;
}

.foodCategoryContainer {
    background-color: white;
    width: 755px;
    position: absolute;
    margin-top: 165px;
    left: 500px;
    height: 240px;
    padding: 2px 2px 2px 2px;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.18);
    border-radius: 4px;
    padding: 46px;
    font-size: 19px;
    font-family: "Open Sans Bold", "Open Sans Regular", "Open Sans", sans-serif;
}

.shopCartButton {
    background-color: none;
}

.prodNameStyle {
    font-family: "Open Sans Bold", "Open Sans Regular", "Open Sans", sans-serif;
    margin: 5px;
}

.prodPriceStyle {
    font-family: "Open Sans Bold", "Open Sans Regular", "Open Sans", sans-serif;
    margin: 5px;
}

.prodDescStyle {
    font-family: "Open Sans Bold", "Open Sans Regular", "Open Sans", sans-serif;
    margin: 5px;
    font-size: 15px;
}