.headerContainer {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    gap: 50px;
    height: 70px;
    font-size: 20px;
    align-items: center;
    margin-right: auto;
    padding-top: 13px;
    border-bottom-color: black;
    border-bottom-width: 2px;
}

.brandText {
    background-color: rgba(255, 255, 255, 0);
    width: 300px;
    font-size: 32px;
    font-family: "Merriweather", sans-serif;
    color: #333333;
    text-align: left;
    line-height: normal;
    margin: 70px;
}

.titleText {
    padding-left: 70px;
    padding-top: 30px;
    font-size: 34px;
    font-family: "Arial Normaali", "Arial", sans-serif;
    font-weight: 600;
}

.changeOrderStatus {
    display: flex;
    flex-direction: column;
    margin-left: 1000px;
    width: 510px;
    height: 160px;
    padding: 2px 2px 2px 2px;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.18);
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 20px;
    font-family: "Arial Normaali", "Arial", sans-serif;
    font-weight: 600;
    padding: 20px;
    gap: 20px;
}

.buttonStyle {
    height: 63px;
    padding: 2px 2px 2px 2px;
    border-radius: 5px;
    background-color: green;
    box-sizing: border-box;
    font-size: 17px;
    color: #ffffff;
    text-align: center;
    line-height: normal;
}

.currentOrderText {
    padding-left: 70px;
    margin-top: 50px;
    font-size: 20px;
    font-family: "Arial Normaali", "Arial", sans-serif;
    font-weight: 600;
}

.currentOrderContainer {
    display: flex;
    width: 850px;
    height: 100px;
    margin-top: 30px;
    margin-left: 70px;
    padding: 2px 2px 2px 2px;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.18);
    border-radius: 10px;
    box-sizing: border-box;
}

.currentOrderId {
    padding: 20px;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    color: blue;
}

.currentUserId {
    padding: 20px;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    color: blue;
}

.currentOrderStatus {
    padding: 20px;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    color: green;
}

.currentOrderProduct {
    padding: 20px;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
}

.currentProductId {
    padding: 20px;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    color: blue;
}

.currentProductName {
    padding: 20px;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
}

.historyDivText {
    padding-left: 70px;
    margin-top: 50px;
    font-size: 20px;
    font-family: "Arial Normaali", "Arial", sans-serif;
    font-weight: 600;
}

.bigOrderContainer {
    display: flex;
    flex-direction: column;
    padding: 70px;
    padding-bottom: 150px;
}

.orderContainer {
    display: flex;
    flex-direction: row;
    width: 850px;
    height: 130px;
    padding: 2px 2px 2px 2px;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.18);
    border-radius: 10px;
    box-sizing: border-box;
    position: absolute;
}
